{% extends "mainapp/base.html" %}
{% load crispy_forms_tags %}

{% block link %}


<style type="text/css">
	footer{
position:relative;
bottom:0;
width:100%;
height:80px;
}
</style>

	{% endblock %}


{% block content %}

<div class="container">

	<h2 class="text-center"> New Student</h2>
	 <form class="col-lg-4 col-lg-4  form-horizontal " method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{form|crispy}}</p>
    <button type="submit" class="col-lg-10 col-lg-12 btn btn-success" >Create</button>
  </form>



</div>

{% endblock  %}
