{% extends "mainapp/base.html" %}

{% block link %}
<style type="text/css">

footer{
position:absolute;
bottom:0;
width:100%;
height:80px;
}

</style>
<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->

  {% endblock %}


{% block content %}

<div class="container">
      <div class="row">
        <!-- <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" > -->
<br><br>

          <div class="panel panel-info">
            <div class="panel-heading">
              <br>
              <h2 class="">  &nbsp{{student.name}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

                {% if user.is_superuser %}
                {% else %}
                <a class="btn btn-primary" href="{% url 'mainapp:add_fees' pk=student.pk%}">Add Fees</a></h2>
                {% endif %}
              <!-- <h2 class="panel-title"><h3>{{student.name}}  </h3> </h2> -->
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{{student.propic.url}}" class="img-circle img-responsive"> </div>

                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Class:</td>
                        <td>{{student.Class}}</td>
                      </tr>
                      <tr>
                        <td>Department:</td>
                        <td>{{student.dept}}</td>
                      </tr>
                      <tr>
                        <td>Hostel:</td>
                        <td>{{student.hostel}}</td>
                      </tr>
                      <tr>
                        <td>Date of Birth</td>
                        <td>{{student.dob}}</td>
                      </tr>

                         <tr>
                        <tr>
                        <td>Home Address</td>
                        <td>{{student.address}}

                        </td>
                      </tr>
                      <!-- <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">info@support.com</a></td>
                      </tr> -->
                        <td>Phone Number</td>
                        <td>{{student.phno}}<br>
                        </td>

                        <tr>
                        <td>Fees :</td>
                        {% for fee in fee_list %}
      {% if fee.paid %}
     <td>{{fee.month}}&nbsp {{fee.hostel_fee}}<a href="#"> <h3>&#10004;</h3></a> </td>
   {% else %}
     <td>{{fee.month}}&nbsp {{fee.hostel_fee}} <a href="{% url 'mainapp:pay_fee' pk=fee.pk %}"><h3>&times;</h3></a></td>

     {% endif %}

      {% endfor %}

                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <span class="pull-right">
                        </span>
                    </div>

          </div>
        </div>
      <!-- </div> -->
    </div>


{% endblock  %}

{% block script %}

<!--
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->

{% endblock  %}

<!------ Include the above in your HEAD tag ---------->
