{% extends "mainapp/base.html" %}

{% block link %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/style/officelogin.css' %}" />

{% endblock %}

{% block content %}
<br><br><br>
<div class="container">
	<section id="content">
		<form method="post" action="{% url 'login' %}" >
		{% csrf_token %}
			<h1>Login Form</h1>
			<div>
				<input type="text" placeholder="Username" required="" id="username" />
			</div>
			<div>
				<input type="password" placeholder="Password" required="" id="password" />
			</div>
			<div>
				<input type="submit" value="Log in" />
				<input type="hidden" name="next" value="{{ next }}" />

				<!-- <a href="#">Lost your password?</a> -->
			</div>
		</form><!-- form -->

	</section><!-- content -->
</div><!-- container -->



{% endblock  %}
